/* ---------------MyBook page-------------- */
.book1 {
    padding: 0 10px 20px;
}
@media (min-width: 600px) {
    .book1 {
        padding: 0 20px 40px;
    }
}
.book1 h2 {
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 3px;
    text-shadow: 0 0 3px #9eb045;
}

.book2 {
    text-align: center;
}
.books{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.book3 li {
    padding: 10px 15px;
    text-align: left;
}
