html,body,.root {
    height: 100%;
}
body {
    background: white;
}

/* ---------------MyHome Page-------------- */
.title {
    padding: 10px 0;
    background: #5f692d;
    text-align: center;
}

.title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}

.info {
    padding: 0 0 80px;
    flex: 1;
}
.search {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.search a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5f692d;
    background-image: url("../icons/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
}



